<div class="modal fade" id="authorityIDModal" tabindex="-1" role="dialog" aria-labelledby="authorityIDModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="authorityIDModalLabel">Select Authority ID</h4>
      </div>
        <div class="modal-body">
          <%= form_tag(assign_authority_id_person_path(person.id), method: :put, id: 'select_authority_id')  do %>
            <% person.members.each do |m| %>
              <%= radio_button("radio", "authority_id", "#{m.hbx_member_id}") %>
              HBX Member ID:<%= m.hbx_member_id %>
                <% m.policies.each do |policy|%>
                  <dl class="dl-horizontal">
                    <dt>Plan</dt>
                    <dd><%= policy.carrier.name %> | <%= truncate(policy.plan.name, length: 50) %></dd>
                    <dt>Status</dt>
                    <dd><%= policy.aasm_state.capitalize %></dd>
                  </dl>
                <% end %>
              <br>
            <% end %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" id='save-authority-button' class="btn btn-primary" data-dismiss="modal">Save</button>
        </div>
    </div>
  </div>
</div>
