<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th>Attribute</th> 
      <th>Current Value</th> 
      <th>New Value</th> 
    </tr>
  </thead>
  <tbody>
    <% changes.each_pair do |group_name, attribs_list| %>
      <% next if group_name == :versions %>
      <% attribs_list.each do |attrib_set| %>
        <tr>
          <th <%= "rowspan=#{attrib_set.count}" %>>
            <%= group_name.to_s.humanize %>
          </th>
        </tr>
          <% attrib_set.each_pair do |attrib_name, attrib_vals| %>
            <% next if attrib_name == :_id %>
            <tr>
            <td><%= mixed_case(attrib_name.to_s.humanize) %></td>
            <td><%= attrib_vals[:from].blank? ? "<none given>" : attrib_vals[:from] %></td>
            <td><%= attrib_vals[:to].blank? ? "<none given>" : attrib_vals[:to] %></td>
            </tr>
          <% end %> 
      <% end %> 
    <% end %>
  </tbody>
</table>
