	<%= f.error_notification %>
	  <% if @person.errors.any? %>
    <div class="alert alert-error">
      <h4><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h4>
      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      <% @person.embedded_error_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<legend>Name and Identifying Info</legend>
	<div class="row">
		<div class="col-md-offset-1 col-md-9">
		  <div class="form-inputs">
				<%= render 'name_fields', f: f %>

				<%= f.simple_fields_for :members do |member|  %>
					<%= render 'member_fields', m: member %>
			  <% end %>
			</div>
		</div>
	</div>

	<legend>Address</legend>
	<div class="row">
		<div class="col-md-offset-1 col-md-9">
		  <div class="form-inputs nested-fields">
				<%= f.simple_fields_for :addresses do |address|  %>
					<%= render 'address_fields', f: address %>
			  <% end %>
			  <p class="text-right"><%= link_to_add_fields "Add Address", f, :addresses %></p>
			</div>
		</div>
	</div>
				
	<legend>Phone</legend>
	<div class="row">
		<div class="col-md-offset-1 col-md-9">
		  <div class="form-inputs nested-fields">
				<%= f.simple_fields_for :phones do |phone|  %>
					<%= render 'phone_fields', f: phone %>
			  <% end %>
			  <p class="text-right"><%= link_to_add_fields "Add Phone", f, :phones %><p>
			</div>
		</div>
	</div>
				
	<legend>Email</legend>
	<div class="row">
		<div class="col-md-offset-1 col-md-9">
		  <div class="form-inputs nested-fields">
				<%= f.simple_fields_for :emails do |email|  %>
					<%= render 'email_fields', f: email %>
			  <% end %>
			  <p class="text-right"><%= link_to_add_fields "Add Email", f, :emails %></p>
			</div>
		</div>
	</div>