<fieldset>
	<div class="row">
		<div class="col-md-1">
			<%= f.input :name_pfx, placeholder: "Pfx" %>
		</div>
		<div class="col-md-3">
			<%= f.input_field :name_first, placeholder: "First"  %>
		</div>
		<div class="col-md-1">
			<%= f.input :name_middle, placeholder: "Mid"  %>
		</div>
		<div class="col-md-3">
			<%= f.input_field :name_last, placeholder: "Last"  %>
		</div>
		<div class="col-md-1">
			<%= f.input :name_sfx, placeholder: "Sfx" %>
		</div>
	</div>
</fieldset>