<fieldset>
	<div class="row">
		<div class="col-md-2">
			<%= f.input :phone_type, as: :select, collection: Phone::TYPES, :include_blank => "Type" %>
		</div>
		<div class="col-md-offset-1 col-md-3">
			<%= f.input :phone_number, as: :tel, placeholder: "202-555-1212", input_html: { value: number_to_phone(f.object.phone_number) } %>
		</div>
		<div class="col-md-2">
			<%= f.input_field :extension, placeholder: "1234 (Extension)" %>
		</div>
		<p class="text-right">
			<%= link_to '<span class="fui-cross-inverted"> Delete Phone</span>'.html_safe, '#', :class => "remove_fields text-danger" %>
		</p>
	</div>
	<%= f.hidden_field :_destroy %>
	<hr/>
</fieldset>
