<div class="page-header">
  <ul class="breadcrumb">
    <li><%= link_to "People", people_path %></li>
    <li><%= link_to @person.name_full, people_path(@person) %></li>
    <li class="active">Compare</li>
  </ul>
</div>

<h4>Person Changes</h4>
<div class="row">
	<div class="col-md-offset-1 col-md-6">
		<% if @delta.empty? %>
			<p>No Changes</p>
		<% else %>
			<p>The table below reflects changes made to <strong><%= @person.full_name %>'s</strong> record.  
			This update will transmit to the Carrier, so review carefully for: 1) completeness, and 2) accuracy, before clicking Update button.</p>
			<p>If you need to make corrections, Click the Back button.</p>
			<%= render 'change_table', changes: @delta %>
			<p><strong><%= h('<none given>') %></strong> indicates the attribute value is either <strong>nil</strong> or <strong>blank</strong></p>
		<% end %>
	</div>
</div>

<%= simple_form_for(@person, url: persist_and_transmit_person_path(@person), html: { class: 'form-horizontal' }) do |f| %>
	
	<%= hidden_field_tag(:person, @updates.to_json, id: nil) %>

  <div class="well well-sm well-default">
    <div class="form-actions">
			<%= f.submit "Continue", :class => 'btn btn-primary' %>
			<%= link_to "Back", :back, :class => 'btn btn-default' %>
		</div>
	</div>
<% end %>
