<%- model_class = Person -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: ['People'] %>

  <div class="row">
    <div class="col-md-8">
      <%= link_to "New", new_person_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-4">
      <%= render 'shared/search', url: people_path, q: @q, placeholder: "Name, HBX ID, SSN" %>
    </div>
  </div>
</div>

<%= render "people_list", people: @people %>

<div class="row">
  <div class="col-md-8">
    <%= paginate @people, theme: "twitter-bootstrap", pagination_class: "pagination-plain" %>
  </div>
  <div class="rol-md-4">
    <p><%= "#{number_with_delimiter(@people.count)} / #{number_with_delimiter(Person.count)} " %><small>(people selected / total)</small></p>
  </div>
</div>
