<%- model_class = Person -%>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: [
      link_to('People', people_path),
      'New'
    ] 
  %>
</div>

<%= simple_form_for(@person, :html => {:class => 'form-horizontal' }) do |f| %>

	<%= render 'form', f: f %>

  <div class="well well-sm well-default">
    <div class="form-actions">
			<%= f.submit nil, :class => 'btn btn-primary' %>
			<%= link_to t('.cancel', :default => t("helpers.links.cancel")), people_path, :class => 'btn btn-default' %>
		</div>
	</div>

<% end %>
