<% model_class = Person %>

<div class="page-header">
  <%t '.title', :default => model_class.model_name.human.titleize.pluralize %>
  <ul class="breadcrumb">
    <li><%= link_to model_class.model_name.human.titleize.pluralize, people_path %></li>
    <li class="active"><%= @person.full_name %></li>
  </ul>

  <div class="row">
    <div class="col-md-offset-8 col-md-4">
      <%= render 'person_search', q: @q %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="well sidebar-nav">
      <%= controls_for_people(@person) %>
    </div>
  </div>

  <div class="col-md-10">
    <h4><%= prepend_glyph_to_name(@person.full_name) %></h4>
    <%= render 'member_detail', person: @person %>

    <h4>Contact</h4>
    <% @person.emails.each do |email| %> 
      <dl class="dl-horizontal">
        <dt><%= "#{mixed_case(email.email_type)} email" %></dt>
        <dd><address><%= link_to email.email_address, "mailto:#{email.email_address}" %></address></dd>
      </dl>
    <% end %>

    <% @person.phones.each do |phone| %> 
      <dl class="dl-horizontal">
        <dt><%= "#{mixed_case(phone.phone_type)} phone" %></dt>
        <dd><%= number_to_phone(phone.phone_number) %></dd>
      </dl>
    <% end %>

    <% @person.addresses.each do |address| %> 
      <dl class="dl-horizontal">
        <dt><%= "#{mixed_case(address.address_type)} address" %></dt>
        <dd><address><%= address.formatted_address %></address></dd>
      </dl>
    <% end %>
  </div>
</div>

<p class="text-right">
  <small><%= version_for_record(@person) %></small>
</p>

<div class="well well-sm well-default">
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")), people_path, :class => 'btn btn-primary'  %>
  </div>
</div>

<%= render 'authority_id_dialog', person: @person %>
