%individual{"xmlns:ns" => "http://openhbx.org/api/terms/1.0"}
  %authority_hbx_member_uri http://www.company.org/cum/sonoras
  %authority_hbx_member_id= @person.authority_member_id
  %person
    = render 'shared/person', person: @person
  %member_roles
    %gender= @person.authority_member.gender
    %dob= @person.authority_member.dob.try(:strftime,"%Y-%m-%d")
    %ssn= @person.authority_member.ssn 
    %tobacco_user 
    %language 
    %hbx_uri 
    %hbx_id= @person.authority_member.hbx_member_id 
    %person
      = render 'shared/person', person: @person
    %relationship 
  %employee_roles
    %hbx_employer_id
    %hbx_employer_uri
    %employment_status
    %eligibility_start_date
    %eligibility_end_date
  %responsible_party_roles
    %entity_identifier
    %hbx_organization_uri
