<%= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
	<%= f.error_notification %>

	<div class="row">
		<div class="col-md-6">
			<%= f.input :email, wrapper: :input_horizontal %>
			<%= f.input :approved, as: :boolean, boolean_style: :inline, label: "Approved?" %>
		</div>
	</div> 

	<div class="well well-sm well-default">
		<div class="form-actions">
			<%= f.button :submit , :class => 'btn btn-primary'  %>
			<%= link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default' %>
		  <%= link_to t('.remove', :default => t("helpers.links.remove")),
	              user_path(@user),
	              :method => 'delete',
	              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
	              :class => 'btn btn-warning' %>
		</div>
  </div>
<% end %>
