<%- model_class = Protocols::X12::TransactionSetEnrollment -%>
<%t '.title', :default => model_class.model_name.human.titleize %>
<div class="page-header">
  <ul class="breadcrumb">
    <li class="active"><%= @edi_transaction_set.id %></li>
  </ul>
</div>

<div class="row">
  <div class="col-md-5">
    <dl class="dl-horizontal">
      <dt><%= model_class.human_attribute_name(:transaction_type) %>:</dt>
      <dd><%= @edi_transaction_set.st01 %></dd>
      <dt><%= model_class.human_attribute_name(:control_number) %>:</dt>
      <dd><%= @edi_transaction_set.st02 %></dd>
      <dt><%= model_class.human_attribute_name(:reference_standard) %>:</dt>
      <dd><%= @edi_transaction_set.st03 %></dd>
      <% if @edi_transaction_set %>
        <dt><%= model_class.human_attribute_name(:purpose_code) %>:</dt>
        <dd><%= @edi_transaction_set.bgn01 %></dd>
        <dt><%= model_class.human_attribute_name(:reference_number) %>:</dt>
        <dd><%= @edi_transaction_set.bgn02 %></dd>
        <dt><%= model_class.human_attribute_name(:date) %>:</dt>
        <dd><%= @edi_transaction_set.bgn03 %></dd>
        <dt><%= model_class.human_attribute_name(:time) %>:</dt>
        <dd><%= @edi_transaction_set.bgn04 %></dd>
        <dt><%= model_class.human_attribute_name(:time_zone) %>:</dt>
        <dd><%= @edi_transaction_set.bgn05 %></dd>
        <dt><%= model_class.human_attribute_name(:trans_x_reference) %>:</dt>
        <dd><%= @edi_transaction_set.bgn06 %></dd>
        <dt><%= model_class.human_attribute_name(:action_code) %>:</dt>
        <dd><%= @edi_transaction_set.bgn08 %></dd>
      <% end %>
      <dt><%= model_class.human_attribute_name(:transaction_kind) %>:</dt>
      <dd><%= @edi_transaction_set.transaction_kind.humanize %></dd>
      <dt><%= model_class.human_attribute_name(:submitted_at) %>:</dt>
      <dd><%= @edi_transaction_set.submitted_at.strftime("%m-%d-%Y %H:%M:%S%z") if @edi_transaction_set.submitted_at.present? %></dd>
      <dt><%= "AASM State" %>:</dt>
      <dd><%= @edi_transaction_set.aasm_state.humanize %></dd>
      <dt><%= "Ack/Nak at" %>:</dt>
      <dd><%= @edi_transaction_set.ack_nak_processed_at.strftime("%m-%d-%Y %H:%M:%S%z") if @edi_transaction_set.ack_nak_processed_at.present? %></dd>
    </dl>
  </div>

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="fui-document">&nbsp;</span> 
          EDI Payload
        </h3>
      </div>
      <div class="panel-body">  
        <pre><small><%= @edi_transaction_set.body.read %></small></pre>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <div class="form-actions">
      <%= link_to "EDI Transmission", edi_transmission_path(@edi_transaction_set.transmission_id), {class: 'btn btn-info btn-sm'} %>
      <% if @edi_transaction_set.policy.subscriber %>
	      <%= link_to "Individual", person_path(@edi_transaction_set.policy.subscriber.person), {class: 'btn btn-info btn-sm'}  %>
      <% end %>
    </div>
  </div>  
</div>


  <p class="text-right"><small><%= "updated: #{@edi_transaction_set.updated_at.strftime('%m-%d-%Y') if @edi_transaction_set.updated_at.present?}" %></small></p>

  <div class="well well-sm default">
    <div class="form-actions">
      <% if @edi_transaction_set.policy.subscriber %>
	      <%= link_to "Individual", person_path(@edi_transaction_set.policy.subscriber.person), {class: 'btn btn-info btn-sm'}  %>
      <%= link_to(t('.back', :default => t("helpers.links.back")), person_path(@edi_transaction_set.policy.subscriber.person), {:class => 'btn btn-primary'})  %>
      <% end %>
    </div>
  </div>
