<%- model_class = Enrollment -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: ['Enrollments'] %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:version) %></th>
      <th><%= model_class.human_attribute_name(:deleted_at) %></th>
      <th><%= model_class.human_attribute_name(:carrier_id) %></th>
      <th><%= model_class.human_attribute_name(:hios_plan_id) %></th>
      <th><%= model_class.human_attribute_name(:coverage_type) %></th>
      <th><%= model_class.human_attribute_name(:bgn_date) %></th>
      <th><%= model_class.human_attribute_name(:e_aptc) %></th>
      <th><%= model_class.human_attribute_name(:aptc) %></th>
      <th><%= model_class.human_attribute_name(:pre_amt_tot) %></th>
      <th><%= model_class.human_attribute_name(:tot_res_amt) %></th>
      <th><%= model_class.human_attribute_name(:tot_emp_res_amt) %></th>
      <th><%= model_class.human_attribute_name(:sep_reason) %></th>
      <th><%= model_class.human_attribute_name(:enrollment_group_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @enrollments.each do |enrollment| %>
      <tr>
        <td><%= link_to enrollment.id, enrollment_path(enrollment) %></td>
        <td><%= enrollment.version %></td>
        <td><%= enrollment.deleted_at %></td>
        <td><%= enrollment.carrier_id %></td>
        <td><%= enrollment.hios_plan_id %></td>
        <td><%= enrollment.coverage_type %></td>
        <td><%= enrollment.bgn_date %></td>
        <td><%= enrollment.e_aptc %></td>
        <td><%= enrollment.aptc %></td>
        <td><%= enrollment.pre_amt_tot %></td>
        <td><%= enrollment.tot_res_amt %></td>
        <td><%= enrollment.tot_emp_res_amt %></td>
        <td><%= enrollment.sep_reason %></td>
        <td><%= enrollment.enrollment_group_id %></td>
        <td><%=l enrollment.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_enrollment_path(enrollment), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      enrollment_path(enrollment),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_enrollment_path,
            :class => 'btn btn-primary' %>
