<div class="row">
  <div class="col-md-12">
    <h4>Contact</h4>
    <% @employer.emails.each do |email| %> 
      <dl class="dl-horizontal">
        <dt><%= "#{mixed_case(email.email_type)} 
         #{model_class.human_attribute_name(:email)}" %></dt>
        <dd><%= email.email_address %></dd>
      </dl>
    <% end %>

    <% @employer.phones.each do |phone| %>
      <dl class="dl-horizontal">
        <dt><%= "#{mixed_case(phone.phone_type)}
          #{model_class.human_attribute_name(:phone)}" %></dt>
        <dd><% if @employer.phones.first.extension.present? %>
          <%= number_to_phone(phone.phone_number, area_code: true, extension: phone.extension) %>
          <% else %>
          <%= number_to_phone(phone.phone_number, area_code: true) %>
          <% end %>
        </dd>
      </dl>
    <% end %>

    <% @employer.addresses.each do |address| %> 
      <dl class="dl-horizontal">
        <dt><%= "#{mixed_case(address.address_type)} 
         #{model_class.human_attribute_name(:address)}" %></dt>
        <dd><%= address.formatted_address %></dd>
      </dl>
    <% end %>
  </div>
</div>
