<div class="row">
  <div class="col-md-12">
    <h4><%= @employer.name %></h4>
    <dl class="dl-horizontal">
      <dt>HBX ID</dt>
      <dd><%= @employer.hbx_id %></dd>
      <dt><%= model_class.human_attribute_name(:fein) %></dt>
      <dd><%= number_to_fein(@employer.fein) %></dd>
      <dt><%= model_class.human_attribute_name(:aasm_state) %></dt>
      <dd><%= @employer.aasm_state.humanize %></dd>
      <dt><%= model_class.human_attribute_name(:sic_code) %></dt>
      <dd><%= @employer.sic_code %></dd>
      <dt><%= model_class.human_attribute_name(:open_enrollment_start) %></dt>
      <dd><%= @employer.open_enrollment_start %></dd>
      <dt><%= model_class.human_attribute_name(:open_enrollment_end) %></dt>
      <dd><%= @employer.open_enrollment_end %></dd>
      <dt><%= model_class.human_attribute_name(:plan_year_start) %></dt>
      <dd><%= @employer.plan_year_start %></dd>
      <dt><%= model_class.human_attribute_name(:plan_year_end) %></dt>
      <dd><%= @employer.plan_year_end %></dd>
      <dt><%= model_class.human_attribute_name(:fte_count) %></dt>
      <dd><%= @employer.fte_count %></dd>
      <dt><%= model_class.human_attribute_name(:pte_count) %></dt>
      <dd><%= @employer.pte_count %></dd>
      <dt><%= model_class.human_attribute_name(:msp_count) %></dt>
      <dd><%= @employer.msp_count %></dd>

      <dt><%= "Carrier(s)" %></dt>
      <% if @employer.carriers.count == 0 %>
        <dd></dd>
      <% end %>
      <% @employer.carriers.each do |c| %>
        <dd><%= link_to c.name, carrier_path(c) %></dd>
      <% end %>

      <dt><%= "Plan(s)" %></dt>
      <% if @employer.plans.count == 0 %>
        <dd></dd>
      <% end %>
      <% @employer.plans.each do |p| %>
        <dd><%= link_to p.name, carrier_path(p.carrier) %></dd>
      <% end %>

      <dt>Broker</dt>
      <% if @employer.broker.nil? %>
        <dd></dd>
      <% else %>
        <dd><%= link_to(@employer.broker.name_full, @employer.broker) %></dd>
      <% end %>

    </dl>
  </div>
</div>
