<table class="table table-condensed">
  <thead>
    <tr>
      <th>Carrier</th>
      <th>Paid at</th>
      <th>Total Payment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= table_empty_to_human if payments.count < 1 %>
    <% payments.each do |p| %>
    <tr>
      <td><%= p.carrier.name %></td>
      <td><span class="fui-credit-card">&nbsp;</span> <%= p.payment_at %></td> 
      <td><%= number_to_currency (Rational(premium_payments.by_date(p.payment_at, p.carrier).sum(:pmt_amt)) / Rational(100)).to_f %></td>
      <td><%= link_to "View detail", edi_transaction_set_payment_path(p._id) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
