<table class="table table-condensed">
  <thead>
    <tr>
      <th>Date</th>
      <th>Carrier</th>
      <th>Total Payment</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <%= table_empty_to_human if premium_payments.count < 1 %> 
    <% premium_payments.each do |p| %>
      <tr>
        <td <%= "rowspan=#{p[1].length}" %>><span class="fui-credit-card">&nbsp;</span><%= p.first.strftime("%m-%d-%Y") %></td>
        <td><%= p[1][0]["carrier_name"] %></td>
        <td><%= number_to_currency (Rational( p[1][0]["payment_amount"] ) / Rational(100)) %></td>
        <td><%= link_to "View detail", edi_transaction_set_payment_path(p[1][0]["_id"]["transaction_set_premium_payment"]) %></td> 
      </tr>
      <% p[1].drop(1).each do |pp|%>
        <tr>
          <td><%= pp["carrier_name"] %></td>
          <td><%= number_to_currency (Rational( pp["payment_amount"] ) / Rational(100)) %></td>
          <td><%= link_to "View detail", edi_transaction_set_payment_path(pp["_id"]["transaction_set_premium_payment"]) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
