<%- model_class = Employer -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: ['Employers'] %>

  <div class="row">
    <div class="col-md-8">
      <!-- <% link_to "New", new_employer_path, class: "btn btn-primary" %> -->
    </div>
    <div class="col-md-4">
      <%= render 'shared/search', url: employers_path, q: @q, placeholder: 'Name' %>
    </div>
  </div>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Employee count</th>
      <th>Open enrollment start</th>
      <th>Plan year start</th>
      <th>Last 820 date</th>
      <th>Coverage through</th>
    </tr>
  </thead>
  <tbody>
    <% @employers.each do |employer| %>
      <tr>
        <td><%= link_to employer.name, employer_path(employer) %></td>
        <td><%= number_with_delimiter(employer.employees.count) %></td>
        <td><%= employer.open_enrollment_start %></td>
        <td><%= employer.plan_year_start %></td>
        <td><%= employer.premium_payments.last.paid_at unless 
                employer.premium_payments.last.nil? %></td>
        <td><%= employer.premium_payments.last.end_date unless 
                employer.premium_payments.last.nil? %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-md-8">
    <%= paginate @employers, theme: "twitter-bootstrap", pagination_class: "pagination-plain" %>
  </div>
  <div class="rol-md-4">
    <p><%= "#{number_with_delimiter(@employers.count)} / #{number_with_delimiter(Employer.count)} " %><small>(employers selected / total)</small></p>
  </div>
</div>


