<%- model_class = Employer -%>
<%t '.title', :default => model_class.model_name.human.titleize.pluralize %>
<div class="page-header">
  <ul class="breadcrumb">
    <li><%= link_to model_class.model_name.human.titleize.pluralize, employers_path %></li>
    <li class="active"><%= @employer.name %></li>
  </ul>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="well sidebar-nav">
      <%= controls_for_employers(@employer) %>
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <h4><%= @employer.name %></h4>
        <dl class="dl-horizontal">
          <dt>HBX ID</dt>
          <dd><%= @employer.hbx_id %></dd>
          <dt><%= model_class.human_attribute_name(:fein) %></dt>
          <dd><%= number_to_fein(@employer.fein) %></dd>
        </dl>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>Employees</h4>
        <%= render "people/people_list", people: @employees %>

        <h4>Elected Plans</h4>
        <%= render "elected_plans_table", elected_plans: @employer.elected_plans %>

        <h4>Payments</h4>
        <%= render 'payments_table', premium_payments: @employer.premium_payments %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h4>Contact</h4>
        <% @employer.emails.each do |email| %> 
          <dl class="dl-horizontal">
            <dt><%= "#{mixed_case(email.email_type)} 
             #{model_class.human_attribute_name(:email)}" %></dt>
            <dd><%= email.email_address %></dd>
          </dl>
        <% end %>

        <% @employer.phones.each do |phone| %>
          <dl class="dl-horizontal">
            <dt><%= "#{mixed_case(phone.phone_type)}
              #{model_class.human_attribute_name(:phone)}" %></dt>
            <dd><% if @employer.phones.first.extension.present? %>
              <%= number_to_phone(phone.phone_number, area_code: true, extension: phone.extension) %>
              <% else %>
              <%= number_to_phone(phone.phone_number, area_code: true) %>
              <% end %>
            </dd>
          </dl>
        <% end %>

        <% @employer.addresses.each do |address| %> 
          <dl class="dl-horizontal">
            <dt><%= "#{mixed_case(address.address_type)} 
             #{model_class.human_attribute_name(:address)}" %></dt>
            <dd><%= address.formatted_address %></dd>
          </dl>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <p class="text-right"><small><%= "version: #{@employer.version} | updated: #{@employer.updated_at.strftime('%m-%d-%Y') if @employer.updated_at.present?}" %></small></p>

  <div class="well well-sm default">
    <div class="form-actions">
     <%= link_to t('.back', :default => t("helpers.links.back")), employers_path, :class => 'btn btn-primary'  %>
    </div>
  </div>
</div>
