<%- model_class = Employer -%>
<%t '.title', :default => model_class.model_name.human.titleize.pluralize %>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: [
      link_to('Employers', employers_path),
      @employer.name
    ] 
  %>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="well sidebar-nav">
      <%= controls_for_employers(@employer) %>
    </div>
  </div>

  <div class="col-md-10">
    <%= render 'description_list', model_class: model_class %>

    <div class="row">
      <div class="col-md-12">
        <ul class="nav nav-tabs nav-append-content">
          <li class="active"><a href="#employees">Employees</a></li>
          <li class=""><a href="#elected_plans">Elected Plans</a></li>
          <li class=""><a href="#payments">Payments</a></li>
        </ul>
        <div class="tab-content">
          <%= render "employers/showtabs/employees" %>

          <%= render 'employers/showtabs/elected_plans' %>

          <%= render 'employers/showtabs/payments' %>
        </div>
      </div>
    </div>

    <%= render 'contact', model_class: model_class %>
  </div>
</div>

<div class="col-md-12">
  <p class="text-right"><small><%= "version: #{@employer.version} | updated: #{@employer.updated_at.strftime('%m-%d-%Y') if @employer.updated_at.present?}" %></small></p>

  <div class="well well-sm default">
    <div class="form-actions">
     <%= link_to t('.back', :default => t("helpers.links.back")), employers_path, :class => 'btn btn-primary'  %>
    </div>
  </div>
</div>
