%n1:employer{"xmlns:n1" => "http://openhbx.org/api/terms/1.0", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemaLocation" => "http://openhbx.org/api/terms/1.0 employer.xsd"}
  %n1:name= @employer.name
  %n1:hbx_uri= employer_url(@employer, format: :xml)
  %n1:hbx_id= @employer.hbx_id
  %n1:fein= @employer.fein
  %n1:contacts
    %n1:contact
      = render 'shared/person', person: @employer
  %n1:sic_code= @employer.sic_code
  %n1:fte_count= @employer.fte_count
  %n1:pte_count= @employer.pte_count
  %n1:employees
    - @employer.employees.each do |employee|
      %n1:employee
        %n1:name
          = render 'shared/name', object: employee
        %n1:employee_role
          = render 'shared/employee', employee: employee
  %n1:plans
    - @employer.elected_plans.each do |plan|
      %n1:plan
        %n1:name= plan.plan_name
        %n1:hbx_plan_id= plan.hbx_plan_id
        %n1:qhp_id= plan.qhp_id
        %n1:carrier_name= plan.carrier.name
        %n1:carrier_urn= # ?
        %n1:policy_number= plan.carrier_policy_number
        %n1:group_id= plan.carrier_employer_group_id
        %n1:coverage_type= plan.coverage_type
        %n1:original_effective_date= plan.original_effective_date.try(:strftime,"%Y-%m-%d")
        %n1:metal_level_code= plan.metal_level.downcase
  %n1:broker
    %n1:npn= @employer.broker.npn
    %n1:tpa_ga_fein
    %n1:broker_name= @employer.broker.name_full
    %n1:tpa_name
  %n1:open_enrollment_start= @employer.open_enrollment_start.try(:strftime,"%Y-%m-%d")
  %n1:open_enrollment_end= @employer.open_enrollment_end.try(:strftime,"%Y-%m-%d")
  %n1:plan_year_start= @employer.plan_year_start.try(:strftime,"%Y-%m-%d")
  %n1:plan_year_end= @employer.plan_year_end.try(:strftime,"%Y-%m-%d")
  %n1:notes= @employer.notes