%n1:employer{"xmlns:n1" => "http://openhbx.org/api/terms/1.0", "xmlns:xsi" => "http://www.w3.org/2001/XMLSchema-instance", "xsi:schemaLocation" => "http://openhbx.org/api/terms/1.0 employer.xsd"}
  %n1:name= @employer.name
  %n1:fein= @employer.fein
  %n1:hbx_uri= employer_url(@employer, format: :xml)
  %n1:hbx_id= @employer.hbx_id
  %n1:sic_code= @employer.sic_code
  %n1:fte_count= @employer.fte_count
  %n1:pte_count= @employer.pte_count
  %n1:open_enrollment_start= @employer.open_enrollment_start.try(:strftime,"%Y-%m-%d")
  %n1:open_enrollment_end= @employer.open_enrollment_end.try(:strftime,"%Y-%m-%d")
  %n1:plan_year_start= @employer.plan_year_start.try(:strftime,"%Y-%m-%d")
  - if @employer.plan_year_end.present?
    %n1:plan_year_end= @employer.plan_year_end.try(:strftime,"%Y%m%d")