<%t '.title', :default => Protocols::X12::TransactionSetPremiumPayment.model_name.human.titleize.pluralize %>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: [@edi_transaction_set_payment.id] %>
</div>

<div class="row">
  <div class="col-md-5">
    <dl class="dl-horizontal">
      <dt>Transaction type</dt>
      <dd><%= @edi_transaction_set_payment.st01 %></dd>
      <dt>Control number</dt>
      <dd><%= @edi_transaction_set_payment.st02 %></dd>
      <dt>Reference standard</dt>
      <dd><%= @edi_transaction_set_payment.st03 %></dd>
      <% if @edi_transaction_set_payment %>
        <dt>Transaction handling code</dt>
        <dd><%= @edi_transaction_set_payment.bpr01 %></dd>
        <dt>Total payment amount</dt>
        <dd><%= @edi_transaction_set_payment.bpr02 %></dd>
        <dt>Credit or debit flag code</dt>
        <dd><%= @edi_transaction_set_payment.bpr03 %></dd>
        <dt>Payment method code</dt>
        <dd><%= @edi_transaction_set_payment.bpr04 %></dd>
        <dt>Payment format code</dt>
        <dd><%= @edi_transaction_set_payment.bpr05 %></dd>
        <dt>Depository financial institution dfi identifier</dt>
        <dd><%= @edi_transaction_set_payment.bpr12 %></dd>
        <dt>Recieving depository financial institution dfi identifier</dt>
        <dd><%= @edi_transaction_set_payment.bpr13 %></dd>
        <dt>Account number qualifier</dt>
        <dd><%= @edi_transaction_set_payment.bpr14 %></dd>
        <dt>Reciever bank account number</dt>
        <dd><%= @edi_transaction_set_payment.bpr15 %></dd>
        <dt>Check_issue or eft effective date</dt>
        <dd><%= @edi_transaction_set_payment.bpr16 %></dd>
        <dt>Trace type code</dt>
        <dd><%= @edi_transaction_set_payment.trn01 %></dd>
        <dt>Check or eft trace number</dt>
        <dd><%= @edi_transaction_set_payment.trn02 %></dd>
      <% end %>
      <dt>Transaction kind</dt>
      <dd><%= @edi_transaction_set_payment.transaction_kind.humanize %></dd>
    </dl>
  </div>

  <div class="col-md-7">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
        <span class="fui-document">&nbsp;</span> 
          EDI Payload
        </h3>
      </div>
      <div class="panel-body">  
        <pre><small><%= @edi_transaction_set_payment.body.read %></small></pre>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <div class="form-actions">

    </div>
  </div>  
</div>


  <p class="text-right"><small><%= "updated: #{@edi_transaction_set_payment.updated_at.strftime('%m-%d-%Y') if @edi_transaction_set_payment.updated_at.present?}" %></small></p>

  <div class="well well-sm default">
    <div class="form-actions">

    </div>
  </div>
