<h4>Transmissions</h4>
<table class="table">
  <thead>
    <tr>
      <th>WTD</th>
      <th>Last Week</th>
      <th>MTD</th>
      <th>Last Month</th>
      <th>QTD</th>
      <th>YTD</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= number_with_delimiter(@wtd_transmissions) %></td>
      <td><%= number_with_delimiter(@lw_transmissions) %></td>
      <td><%= number_with_delimiter(@mtd_transmissions) %></td>
      <td><%= number_with_delimiter(@lm_transmissions) %></td>
      <td><%= number_with_delimiter(@qtd_transmissions) %></td>
      <td><%= number_with_delimiter(@ytd_transmissions) %></td>
      <td><%= number_with_delimiter(@total_edi_transactions) %></td>
    </tr>
  </tbody>
</table>
