<%- model_class = Broker -%>
<%t '.title', :default => model_class.model_name.human.titleize.pluralize %>
<div class="page-header">

 <%= render 'shared/breadcrumb', crumbs: [
      link_to('Brokers', brokers_path),
      @broker.name_full
    ] 
  %>
</div>

<dl class="dl-horizontal">
  <dt><%= model_class.human_attribute_name(:name) %></dt>
  <dd><%= @broker.name_full %></dd>
  <dt><%= model_class.human_attribute_name(:type) %></dt>
  <dd><%= @broker.b_type.humanize %></dd>
  <dt><%= model_class.human_attribute_name(:npn) %></dt>
  <dd><%= @broker.npn %></dd>
  <dt><%= model_class.human_attribute_name(:employers) %></dt>
  <%
    # Display the list of emploters if they have any
    if( 1 > @employers.count)then
      concat( raw( "<dd><i style='font-weight: normal;'>No employers to display!</i></dd>" ) );
    else
      @employers.each do |employerObj|
        concat( raw( "<dd>" + link_to( employerObj.name, employer_path( employerObj ) ) + "</dd>" ) );
      end
    end
  %>
</dl>

<%
  #Display the broker's contact information
  concat( raw( render 'shared/contact', obj: @broker ) );
%>
   
<p class="text-right"><small><%= "version: #{@broker.version} | updated: #{@broker.updated_at.strftime('%m-%d-%Y') if @broker.updated_at.present?}" %></small></p>

<div class="well well-sm default">
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), brokers_path, :class => 'btn btn-primary'  %>
</div>
</div>