<%- model_class = Broker -%>
<%t '.title', :default => model_class.model_name.human.titleize.pluralize %>
<div class="page-header">
  <ul class="breadcrumb">
    <li><%= link_to model_class.model_name.human.titleize.pluralize, brokers_path %></li>
    <li class="active"><%= @broker.name_full %></li>
  </ul>
</div>

<dl class="dl-horizontal">
  <dt><%= model_class.human_attribute_name(:name) %></dt>
  <dd><%= @broker.name_full %></dd>
  <dt><%= model_class.human_attribute_name(:type) %></dt>
  <dd><%= @broker.b_type.humanize %></dd>
  <dt><%= model_class.human_attribute_name(:npn) %></dt>
  <dd><%= @broker.npn %></dd>
  <dt><%= model_class.human_attribute_name(:employers) %></dt>
  <% @employers.each do |e| %>
    <dd><%= link_to e.name, employer_path(e) %></dd>
  <% end %>
</dl>

<h4>Contact</h4>
<% @broker.emails.each do |email| %> 
<dl class="dl-horizontal">
  <dt><%= "#{mixed_case(email.email_type)} 
   #{model_class.human_attribute_name(:email)}" %></dt>
   <dd><%= email.email_address %></dd>
 </dl>
 <% end %>

 <% @broker.phones.each do |phone| %>
 <dl class="dl-horizontal">
  <dt><%= "#{mixed_case(phone.phone_type)}
    #{model_class.human_attribute_name(:phone)}" %></dt>
    <dd><% if @broker.phones.first.extension.present? %>
      <%= number_to_phone(phone.phone_number, area_code: true, extension: phone.extension) %>
      <% else %>
      <%= number_to_phone(phone.phone_number, area_code: true) %>
      <% end %>
    </dd>
  </dl>
  <% end %>

  <% @broker.addresses.each do |address| %> 
  <dl class="dl-horizontal">
    <dt><%= "#{mixed_case(address.address_type)} 
     #{model_class.human_attribute_name(:address)}" %></dt>
     <dd><%= address.formatted_address %></dd>
   </dl>
   <% end %>

   
<p class="text-right"><small><%= "version: #{@broker.version} | updated: #{@broker.updated_at.strftime('%m-%d-%Y') if @broker.updated_at.present?}" %></small></p>

<div class="well well-sm default">
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")), brokers_path, :class => 'btn btn-primary'  %>
</div>
</div>