<fieldset>
  <div class="row">
    <div>
      <div class="col-md-3">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn" type="button"><span class="fui-calendar"></span></button>
          </span>
          <%= f.input_field :date_determined, as: :string,
            start_year: Date.today.year - 1, 
            end_year: Date.today.year + 1, 
            placeholder: "mm/dd/yyyy",
            class: "date_picker",
            value: f.object.date_determined.try(:strftime, "%m/%d/%Y") %>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.input_field :max_aptc, as: :string, title: "APTC", placeholder: "APTC", input_html: { value: number_to_currency(f.object.max_aptc), maxlength: 11 } %>
    </div>
    <div class="col-md-2">
      <%= f.input_field :csr_percent, as: :string, title: "CSR", placeholder: "CSR", input_html: { value: number_to_percentage(f.object.csr_percent), maxlength: 11 } %>
    </div>
    <div class="col-md-3">
      <%= link_to '<span class="fui-cross-inverted"> Delete</span>'.html_safe, '#', :class => "remove_fields btn btn-small btn-danger" %>
    </div>
  </div>
  <%= f.hidden_field :_destroy %>
</fieldset>

