<%= simple_form_for @household, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.error_notification %>
    <% if @household.errors.any? %>
    <div class="alert alert-error">
      <h4><%= pluralize(@household.errors.count, "error") %> prohibited this household from being saved:</h4>
      <ul>
      <% @household.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>

      <% @household.embedded_error_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-offset-1 col-md-3">
      <%= f.input :rel, as: :select, collection: ["self", "spouse", "child", "life partner"], include_blank: "Relationship" %>
    </div>
  </div>

  <legend>People</legend>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="form-inputs">
        <%= f.simple_fields_for :people do |p|  %>
          <%#= render 'sep_fields', p: p %>
        <% end %>
      </div>
    </div>
  </div>

  <legend>Special Enrollment Periods</legend>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="form-inputs">
        <%= f.simple_fields_for :special_enrollment_periods do |s|  %>
          <%= render 'special_enrollment_period_fields', f: s %>
        <% end %>
        <%= link_to_add_fields "Add Special Enrollment Period", f, :special_enrollment_periods %>
      </div>
    </div>
  </div>

  <legend>Eligibility Determinations</legend>
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <div class="form-inputs">
        <%= f.simple_fields_for :eligibilities do |e|  %>
          <%= render 'eligibility_fields', f: e %>
        <% end %>
        <%= link_to_add_fields "Add Enligibility", f, :eligibilities %>
      </div>
    </div>
  </div>

  <div class="well well-sm well-default">
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")), households_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
