<%= form_for @household, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :rel, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rel, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :aptc_total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :aptc_total, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :csr_total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :csr_total, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                households_path, :class => 'btn' %>
  </div>
<% end %>
