<%- model_class = Household -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<div class="page-header">
  <ul class="breadcrumb">
    <li class="active"><%= model_class.model_name.human.titleize.pluralize %></li>
  </ul>
</div>


<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:rel) %></th>
      <th><%= model_class.human_attribute_name(:aptc_total) %></th>
      <th><%= model_class.human_attribute_name(:csr_total) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @households.each do |household| %>
      <tr>
        <td><%= link_to household.id, household_path(household) %></td>
        <td><%= household.rel %></td>
        <td><%= household.aptc_total %></td>
        <td><%= household.csr_total %></td>
        <td><%=l household.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_household_path(household), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      household_path(household),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_household_path,
            :class => 'btn btn-primary' %>
