<%- model_class = Household -%>
<%t '.title', :default => model_class.model_name.human.pluralize.titleize %>
<div class="page-header">
  <%= render 'shared/breadcrumb', crumbs: ['Households'] %>

  <div class="row">
    <div class="col-md-8">
      <%= link_to "New", new_household_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-4">
      <%= render 'people/person_search', q: @q %>
    </div>
  </div>
</div>

<%= render "households_list", households: @households %>

<div class="row">
  <div class="col-md-8">
    <%= paginate @households, theme: "twitter-bootstrap", pagination_class: "pagination-plain" %>
  </div>
  <div class="rol-md-4">
    <p><%= "#{number_with_delimiter(@households.count)} / #{number_with_delimiter(Household.count)} " %><small>(households selected / total)</small></p>
  </div>
</div>
