<%- model_class = Household -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

  <div class="col-md-3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Edit</li>
        <li><a href="#">Set Authority Member</a></li>
        <li><%= link_to "Change Member Info", edit_person_path(@person) %>
        <li><%= link_to "Add Dependent", new_person_path %>
        <li class="nav-header">Enrollment</li>
        <li><a href="#">Special Enrollment Period</a></li>
        <li><a href="#">Enroll in Plan</a></li>
        <li><a href="#">Change Carrier</a></li>
        <li><a href="#">Change Plan</a></li>
        <li><a href="#">Cancel/Term Plan</a></li>
        <li><a href="#">Transmit Changes</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:rel) %>:</strong></dt>
  <dd><%= @household.rel %></dd>
  <dt><strong><%= model_class.human_attribute_name(:aptc_total) %>:</strong></dt>
  <dd><%= @household.aptc_total %></dd>
  <dt><strong><%= model_class.human_attribute_name(:csr_total) %>:</strong></dt>
  <dd><%= @household.csr_total %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              households_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_household_path(@household), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              household_path(@household),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
</div>