<%- model_class = Household -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <ul class="breadcrumb">
    <li><%= link_to model_class.model_name.human.titleize.pluralize, people_path %></li>
    <li class="active"><%= @household.subscriber.full_name %></li>
  </ul>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Individual</li>
        <li><%= link_to "Edit", edit_household_path(@household) %></li>
      </ul>
    </div>
  </div>

  <div class="col-md-10">
    <h4>Household Members</h4>
    <% @household.people.each do |person| %>
      <%= link_to prepend_glyph_to_name(person.full_name), person_path(person) %>
      <br/> 
  <!--     <dl class="dl-horizontal">
        <dt><%#= "Person name" %></dt>
        <dd><%#= "Person" %></dd>
      </dl> -->
    <% end %>

    <h4>Special Enrollment Periods</h4>
    <%= render 'sep_detail', seps: @household.special_enrollment_periods %>

    <h4>Eligibility Determinations</h4>
    <%= render 'eligibility_detail', eligibilities: @household.eligibilities %>

  </div>
</div>

  <p class="text-right">
    <small><%= version_for_record(@household) %></small>
  </p>

<div class="well well-sm well-default">
  <div class="form-actions">
    <%= link_to t('.back', :default => t("helpers.links.back")), households_path, :class => 'btn btn-primary'  %>
  </div>
</div>
